.landing-page-icon {
  margin-right: 6px;
}

.landing-page .call-to-action {
  animation: call-to-action 0.5s ease-in-out infinite alternate;

  @keyframes call-to-action {
    from {
      box-shadow: inset 0 9000rem 0 #fcd433;
      transform: scale(1.1);
    }
    to {
      box-shadow: inset 0 9000rem 0 #ff0000;
      transform: scale(1.2);
    }
  }
}

.landing-page .secondary-btn {
  transform: scale(0.9);
  bottom: 0;
  right: 0;

  @media (min-width: 600px) {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
