.user-hub-container{
  .date {
    position: relative;
    margin-right: 0;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    color: #102a71 !important;
    margin: 0.5vh;
  }

}