// pill colors
$blue: #4483e6;
$blue-border: #315ea7;
$orange: #e98b26;
$orange-border: #ab5e0d;
$yellow: #e6e044;
$yellow-border: #e2db0c;
$green: #176936;
$green-border: #0c6216;
$red: #e64444;
$red-border: #e20e0e;
$pink: #de9de0;
$pink-border: #d66bda;
