// pill colors
$blue: #4483e6;
$blue-border: #315ea7;
$orange: #f08d23;
$orange-border: #eb7900;
$yellow: #f3ee60;
$yellow-border: #c1ba06;
$green: #2cbf3d;
$green-border: #128a20;
$red: #e64444;
$red-border: #e20e0e;
$pink: #eb5ff0;
$pink-border: #f700ff;
