.user-hub-container {
  position: relative;

  .nav-list {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: flex-start;
  }

  .day-time {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 2vw;
    margin-bottom: 4vh;
    margin-top: 10px;
  }

  .calendar-container {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
  }

  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .title h2 {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 900;
      font-size: 6rem;
      margin-bottom: 0;
      margin-top: 20%;
    }

    .title h4 {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 2.5rem;
      margin-top: 0;
      letter-spacing: 0.2rem;
      width: 100%;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 830px) {
  .user-hub-container {
    .home-container {
      display: flex !important;
      flex-direction: column;
      align-items: center;
    }

    .text-container {
      width: 400px;
      display: flex;
      flex-direction: row;
      align-content: space-around;
      align-items: center;
      justify-content: center;
    }

    .day-time {
      margin: 0 2vw;
      margin-top: 10px;
    }

    .calendar-container {
      position: static;
    }
    .title {
      display: flex;
      flex-direction: column;
      align-items: center !important;
    }

    .title h2 {
      font-size: 4rem !important;
      margin-right: 2vw !important;
      margin-top: 0;
    }

    .title h4 {
      font-size: 1.5rem !important;
      width: 60% !important;
    }
    .nav-list {
      margin: 2vh 0 !important;
      align-self: center !important;
    }
  }
}
@media (min-width: 320px) and (max-width: 550px) {
  .user-hub-container {
    .text-container {
      flex-direction: column;
    }

    .calendar-container {
      display: none;
    }
  }
}
