body{
    background-color: #48CAE4;
}

.daily-datepicker-container{
    width: 10%;
    display: flex;
    margin-left: 45%;
}
.daily-drugs-title{
    color: #102a71;
    font-weight: 900 !important;

}
