.daily-view-container {
  .daily-drugs-title {
    font-weight: 900 !important;
  }

  .daily-datepicker-container {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
  }
  .drug-box-container {
    display: flex;
    justify-content: center;
    min-height: fit-content;
  }

  .drug-box {
    background-color: #fcd433;
    width: 95vw;

    height: 55vh;
    margin-top: 2vh;
  }

  .drug-box-compartment {
    background-color: #b89a22 !important;
    width: 33%;
    height: 90%;

    h6 {
      padding-top: 10px;
    }
  }

  .button-add-drug {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .time-of-day {
    color: #102a71;
    font-weight: 900;
  }

  .MuiFormControl-root.MuiTextField-root {
    background-color: #fcd433 !important;
    border: 3px solid #102a71 !important;
    border-radius: 45px !important;
    color: #102a71 !important;
    font-weight: 700 !important;
    margin-bottom: 0.3vh;
  }
  .MuiOutlinedInput-notchedOutline {
    border: 0;
  }
  .arrow-back {
    font-size: 3rem !important;
    margin-right: 1rem !important;
    margin-top: 0.3rem;
    color: #102a71;
  }

  .arrow-back:hover {
    font-size: 3rem !important;
    margin-right: 1rem !important;
    margin-top: 0.3rem;
    color: #fcd433 !important;
    cursor: pointer;
  }

  .arrow-forward {
    font-size: 3rem !important;
    margin-left: 1rem !important;
    color: #102a71;
    margin-top: 0.3rem;
  }
  .arrow-forward:hover {
    font-size: 3rem !important;
    margin-left: 1rem !important;
    color: #fcd433;
    margin-top: 0.3rem;
    cursor: pointer;
  }
}

@media (max-width: 830px) {
  .time-of-day {
    font-weight: 400 !important;
    font-size: 0.8rem !important;
  }

  .drug-box {
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    height: fit-content !important;

    .drug-box-compartment {
      width: 90%;
      display: block;
      height: max-content;
      margin: 20px;

      div {
        margin: 10px auto;
      }

      h6 {
        font-weight: 900 !important;
        font-size: Large !important;
      }
    }
  }
}
