@import '../../sass/variables.scss';

.pill {
  margin-top: 10px !important;
  padding: 15px !important;
  font-size: medium;
  width: 150px !important;
  border-radius: 45px;
  color: white;
  margin: auto;
  height: min-content;
  &.blue {
    background-color: $blue;
  }
  &.orange {
    background-color: $orange;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.green {
    background-color: $green;
  }
  &.red {
    background-color: $red;
  }
  &.pink {
    background-color: $pink;
  }
  .expiration {
    font-size: small;
  }
  &.hide {
    font-size: x-large;
  }
}
