@import '../../sass/variables.scss';

.pill {
  background-color: $orange;
  text-align: center;
  margin-top: 10px !important;
  padding: 5px 15px;
  font-size: medium;
  min-width: fit-content;
  width: 175px !important;
  border-radius: 45px;
  color: white;
  margin: auto;
  height: 50px;
  &.blue {
    border: 5px solid $blue-border;
  }
  &.orange {
    border: 5px solid $orange-border;
  }
  &.yellow {
    border: 5px solid $yellow-border;
  }
  &.green {
    border: 5px solid $green-border;
  }
  &.red {
    border: 5px solid $red-border;
  }
  &.pink {
    border: 5px solid $pink-border;
  }
  .expiration {
    font-size: small;
  }
  &.hide {
    font-size: x-large;
  }
}
