@import '../../sass/variables.scss';

.pill {
  margin-top: 10px !important;
  padding: 5px;
  font-size: medium;
  width: 175px !important;
  border-radius: 45px;
  color: white;
  margin: auto;
  height: 40px;
  &.blue {
    background-color: $blue;
    border: 2px solid $blue-border;
  }
  &.orange {
    background-color: $orange;
    border: 2px solid $orange-border;
  }
  &.yellow {
    background-color: $yellow;
    border: 2px solid $yellow-border;
  }
  &.green {
    background-color: $green;
    border: 2px solid $green-border;
  }
  &.red {
    background-color: $red;
    border: 2px solid $red-border;
  }
  &.pink {
    background-color: $pink;
    border: 2px solid $pink-border;
  }
  .expiration {
    font-size: small;
  }
  &.hide {
    font-size: x-large;
  }
}
