.calendar-page {
  height: 100vh;
  width: 100vw;
  background-color: #48cae4;
}

.calendar-page .MuiOutlinedInput-root #select-calendar {
  background-color: #fcd433 !important;
  border: 3px solid #102a71 !important;
  border-radius: 45px !important;
  color: #102a71 !important;
  font-weight: 700 !important;
  margin: 2vmin;
}

.calendar-page .MuiOutlinedInput-notchedOutline {
  border: 0;
}

.calendar-page .MuiSvgIcon-root.MuiSelect-icon {
  right: 20px;
}
