// main div
.calendar .MuiPickerStaticWrapper-root {
  border-radius: 45px;
  border: 4px #102a71 solid;
}

// main font
.calendar .PrivatePickersToolbar-root > *,
.calendar .MuiTypography-root {
  font-weight: 900 !important;
}

// day bubble
.calendar .MuiButtonBase-root-MuiPickersDay-root {
  font-weight: 900 !important;
}

// selected day bubble
.calendar .MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  font-weight: 900 !important;
}

// current day bubble
.calendar .MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  font-weight: 900 !important;
  border: 2px solid var(--current-day-font) !important;
}
