.css-1xhj18k{
    background-color: #fcd433;

}

.MuiPickerStaticWrapper-root{
    margin-right: 2rem;
}

.PrivatePickersToolbar-root > *, .css-h9p2l5-MuiTypography-root, .css-1dozdou  {
    color: #102a71 !important;
    font-weight: 900 !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
    font-weight: 900 !important;
    background-color: #95d4e0!important;
    color: #102a71!important;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root:hover {
    color:#fff!important;
    background-color:#102a71!important ;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover{
    color:#fff!important;
    background-color:#102a71!important ;

}
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
    color:#fff!important;
    font-weight: 900 !important;
    background-color:#102a71!important ;

}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
    color:#fff!important;
    font-weight: 900 !important;
    background-color:#95d4e0!important ;
    border: 2px solid #102a71 !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    color:#fff!important;
    font-weight: 900 !important;
    background-color:#102a71!important ;
}

