.calendar-page .week-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2vmin;
}

.calendar-page .week-settings {
  display: flex;
  justify-content: center;
  gap: 2vmin;
  align-items: center;
}

.calendar-page .week-settings .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  background-color: #fcd433 !important;
  border: 3px solid #102a71 !important;
  border-radius: 45px !important;
  color: #102a71 !important;
  font-weight: 700 !important;
  margin: 2vmin;
}

.calendar-page .week-settings .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0;
}

.calendar-page .week-settings .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #102a71;
  font-weight: 700;
}

.calendar-page .day-names {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  font-size: 5vmin;
  font-weight: bold;
  color: #023e8a;
}

.calendar-page .week-calendar {
  display: flex;
  justify-content: space-around;
  background-color: #fcd433;
  width: 90vw;
  height: 80vh;
  border-radius: 2vmin;
  color: #fff;
}

.calendar-page .week-calendar .week-day {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #b89a22;
  width: 10vw;
  margin: 2vmin;
  border-radius: 2vmin;
}
