.calendar-page .week-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2vmin;
}

.calendar-page .day-names {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  font-size: 5vh;
  font-weight: bold;
  color: #023e8a;
}

.calendar-page .week-calendar {
  display: flex;
  justify-content: space-around;
  background-color: #fcd433;
  width: 90vw;
  height: 80vh;
  border-radius: 2vmin;
  color: #fff;
}

.calendar-page .week-calendar .week-day {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #b89a22;
  width: 10vw;
  margin: 2vmin;
  border-radius: 2vmin;
}
